* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* subscription page */
  
  .subscriptions {
    display: flex;
    gap: 34px;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  .subscription-card {
    max-width: 438px;
    width: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 18px;
    background-color: #aad6d6;
    border-radius: 15px 15px 12px 12px;
    box-sizing: border-box;
  }
  
  .subscription-card.slick-slide {
    max-width: 100%;
  }
  
  .subscription-card .img-wrp {
    max-width: 100%;
    width: 100%;
    position: relative;
  }
  
  .subscription-card img {
    width: 100%;
    height: 274px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .subscription-details {
    max-width: 331px;
    width: 100%;
    margin: 0 auto;
  }
  
  .subscription-details .short-d {
    margin-top: 51px;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 300;
    color: #3a8081;
  }
  
  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #44aaae;
    border-radius: 12px;
    padding-left: 15px;
    max-width: calc(100% - 24px);
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 2px 6px -2px #707070;
    position: absolute;
    bottom: -30px;
    right: 0;
    left: 0;
  }
  
  .price > p {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
  }
  
  .price p {
    margin: 0;
  }
  
  .price .price-plan {
    display: flex;
    position: relative;
  }
  
  .price .price-plan .monthly {
    margin-right: -10px;
    z-index: 1;
  }
  
  .price .price-plan .monthly,
  .price .price-plan .yearly {
    border-radius: 12px;
    padding: 15px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eef3f0;
  }
  
  .price .price-plan .monthly p:first-child {
    font-size: 18px;
    font-weight: 500;
    color: #fd7212;
  }
  
  .price .price-plan .monthly p:nth-child(2) {
    font-size: 7px;
    font-weight: 500;
    color: #fd7212;
  }
  
  .price .price-plan .yearly {
    padding-left: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .price .price-plan .yearly p:nth-child(1) {
    font-size: 13px;
    font-weight: 500;
    color: #3a8081;
  }
  
  .price .price-plan .yearly p:nth-child(2),
  .price .price-plan .yearly p:nth-child(3) {
    font-size: 7px;
    font-weight: 500;
    color: #3a8081;
  }
  
  .points {
    list-style-type: none;
    padding: 15px;
    margin: 0;
    border: 1px solid #44aaae;
    border-radius: 12px;
  }
  
  .points ul {
    margin: 0;
    padding: 0;
  }
  
  .points li {
    margin-bottom: 14px;
    display: flex;
    align-items: start;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
  }
  
  .points li .pointer-icon {
    width: 14px;
    height: 18px;
    object-fit: fill;
    margin-right: 14px;
    margin-top: -2px;
  }
  
  .view-btn {
    display: flex;
    justify-content: end;
  }
  
  button.view-more {
    border-radius: 5px;
    border: 0;
    padding: 6px 12px;
    font-size: 7px;
    color: #fd7212;
    box-shadow: 0px 2px 6px -2px #707070;
    cursor: pointer;
  }
  
  .subscribe-button {
    background-color: #fd7212;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 16px;
  }
  
  .recommend-tab {
    position: absolute;
    right: 10px;
    top: 12px;
    background-color: #fd7212;
    border-radius: 12px;
  }
  
  .recommend-tab p {
    margin: 0;
    font-size: 6px;
    font-weight: 500;
    color: #fff;
    padding: 5px 12px;
  }
  
  @media screen and (max-width: 767px) {
    .subscriptions {
      flex-direction: column;
    }
  
    .price .price-plan .monthly,
    .price .price-plan .yearly {
      padding: 8px 18px;
    }
  }
  
  .price .price-plan .monthly.active {
    background-color: #fff;
    color: #fff;
  }
  
  .price .price-plan .yearly.active {
    background-color: #fff;
  }
  
  .switch {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% / 2);
    height: 100%;
    background-color: #ccc;
    border-radius: 20px;
    transition: left 0.3s ease-in-out;
  }
  
  .subscription-card.slick-slide {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .free {
    background-color: #fff;
    border-radius: 12px;
  }
  
  .free p {
    padding: 15px 30px;
    font-size: 24px;
    font-weight: 500;
    color: #fd7212;
  }
  
  /* subscription page */
  
  /* checkout style*/
  
  .payment-icons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 29px;
  }
  
  .payment-icons img {
    max-width: 66px;
    width: 100%;
    margin: 0 9px;
    height: 44px;
    border-radius: 8px;
    object-fit: contain;
  }
  
  .payment-icons img:first-child {
    margin-left: 0;
  }
  
  .checkout-page-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 100px;
    padding: 60px 0;
  }
  
  .checkout-form {
    max-width: 514px;
    width: 100%;
    padding: 45px 25px;
    border: 1px solid #ccc;
    border-radius: 15px 15px 12px 12px;
    margin-top: 20px;
    background-color: #aad6d6;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 19px 26px;
    border: 1px solid #ccc;
    border-radius: 23px;
    background-color: #44aaae;
  }
  
  .form-group input:focus {
    outline: 0;
  }
  
  .form-group input::placeholder {
    color: #fff;
    font-size: 18px;
    font-size: 300 !important;
  }
  
  .btn-confirm {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: #fff;
    color: #fd7212;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 23px;
    margin-top: 21px;
  }
  
  .cvv-wrp {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
  }
  
  .cvv-wrp .form-group {
    width: 50%;
    margin-bottom: 0;
  }
  
  .notice-wrp {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .notice-wrp p {
    font-size: 12px;
    color: #3a8081;
  }
  
  @media screen and (max-width: 767px) {
    .checkout-page-flex {
      flex-direction: column;
    }
  }
  
  /* checkout style */
  
  /* modal */
  
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #44aaae;
    margin: 10% auto;
    padding: 26px 35px 45px 35px;
    border: 1px solid #888;
    width: 100%;
    max-width: 419px;
    border-radius: 12px;
    position: relative;
  }
  
  .modal-content h3 {
    font-size: 39px;
    color: #fff;
    text-align: center;
    margin-bottom: 18px;
  }
  
  .modal-content p {
    font-size: 17px;
    color: #fff;
    text-align: center;
    margin-bottom: 37px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  body.modal-open {
    overflow: hidden;
  }
  
  .img-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .img-icon img {
    max-width: 116px;
    width: 100%;
    height: 115px;
  }
  
  /* modal */
  